<div *ngIf="!(uploadingFlatFile || uploadingSpecFile)">
  <h1 style="text-align: center;">Home</h1>
      <div class="row">
          <div class="column" (click)="uploadingFlatFile = true; uploadingSpecFile = false;">
            <h2>Upload New Flat File</h2>
            <p>Upload a new file to be parsed by a specification</p>
          </div>
        <div class="column" (click)="uploadingFlatFile = false; uploadingSpecFile = true;">
            <h2>Upload New Specification</h2>
            <p>NOTE: any .json file you upload can be used by all users</p>
        </div>
    </div>
</div>


<div *ngIf="uploadingFlatFile">
  <a (click)="uploadingFlatFile = false; uploadingSpecFile = false;">Back</a>
  <br> <br> <br>
  <label>Specification:  </label>
  <select #specs (change)="selectedSpec = specs.value"> 
    <option *ngFor="let spec of userSpecs">{{spec.specName}}</option>
  </select>
  <br> <br>
  <label>Flatfile upload:  </label><input type="file" (change)="fileSelected($event)">
  <br> <br>
  <button (click)="uploadFile()">Parse File</button>
  <p class="error" *ngIf="inputError || userSpecs === []">Error while selecting file or no uploaded specs</p>
</div>

<div *ngIf="uploadingSpecFile" >
  <a (click)="uploadingFlatFile = false; uploadingSpecFile = false;">Back</a>
  <br> <br> <br>
  <label>Specification upload:  </label><input (change)="fileSelected($event)" type="file">
  <br> <br>
  <button (click)="uploadSpecification()">Upload Specification</button>
  <p class="error" *ngIf="inputError">Error while selecting file</p>
</div>
