.column:hover{
    background-color: gray;
    cursor: pointer;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.column {
    float: left;
    width: 40%;    
    background-color: lightgoldenrodyellow;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.error {
    color: red;
}