<div *ngIf="!registering">
  <h1>LOGIN</h1>
  <div>
    <label>Username:  </label>
    <input type="text" id="username" [(ngModel)]="username" (click)="inputError = false"><br><br>
    <label>Password:  </label>
    <input type="text" id="password" [(ngModel)] ="password" (click)="inputError = false"><br><br>
    <button (click)="login()" routerLink="/home">Login</button>
  </div>
  <p class="error" *ngIf="inputError == true">Invalid username or password</p>
  <a (click)="registering = true;">Register new account</a>
</div>

<div *ngIf="registering">
  <h1>REGISTER</h1>
  <div>
    <label>Username:  </label>
    <input type="text" id="username" [(ngModel)]="username" (click)="inputError = false"><br><br>
    <label>Password:  </label>
    <input type="text" id="password" [(ngModel)] ="password" (click)="inputError = false"><br><br>
    <label>Retype Password:  </label>
    <input type="text" id="repassword" [(ngModel)] ="repassword" (click)="inputError = false"><br><br>
    <button (click)="register()">Register</button>
  </div>
  <p class="error" *ngIf="inputError == true">Passwords do not match</p>
</div>

<router-outlet/>