table {
    border-collapse: collapse;
    width: 75%;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}
  
  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }

  .sorting {
    font-style: italic;
    color: green;
  }