<h1 style="text-align: center;">Previously Uploaded Files</h1>
<br><br>
<table>
    <tr>
        <th (click)="sortOn('filename')">Filename</th>
        <th (click)="sortOn('spec')">Specification</th>
        <th (click)="sortOn('date')">Upload Date</th>
        <th (click)="sortOn('size')">File Size</th>
        <th>Download</th>
    </tr>
    <tr *ngFor="let file of files;" (click)="showRecord(file)">
        <td>{{file.fileName}}</td>
        <td>{{file.specId}}</td>
        <td>{{file.uploadDate}}</td>
        <td>{{file.fileSize}}</td>
        <td style="color: blue; text-decoration: underline;">download</td>
    </tr>
</table>